spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/template_dev
  
  redis:
    host: localhost
    port: 6379
  
  kafka:
    bootstrap-servers: localhost:9092

logging:
  level:
    root: DEBUG
    org.wespeak: DEBUG
    org.springframework.data.mongodb.core.MongoTemplate: DEBUG
